## Data Cleaning

In [1]:
#import  os libraries. Also importing warnings to disbale Python warning messages
import os
import warnings
warnings.filterwarnings('ignore')
files_list =os.listdir('.')
files_list

['.git',
 '.gitattributes',
 '.ipynb_checkpoints',
 'Average price 1970 -2001.csv',
 'Average price 2001-2011.csv',
 'Average price 2011-2022.csv',
 'beef export 1930 -2020.csv',
 'BeefVeal_MonthlyFull us 2001-2022.xlsx',
 'CA2.ipynb',
 'Continues_Assignment_2_Zdenko_Zahorec_sbs22090_MSc in Data Analytics (SB+) - Feb 2022 - 2022 - YR1.docx',
 'Download links.txt',
 'export by month ctle irl 1970-2022.csv',
 'tweets_organic_food ireland.csv',
 'Unlimited tweets.ipynb',
 'US Beef Price.xls',
 'US Beef Price.xlsx',
 '_Twitter API.ipynb']

In [2]:
#import pandas to load the data into the dataframe
import pandas as pd

In [6]:
df_irl1= pd.read_csv(r'Average price 1970 -2001.csv')
#seting columns dispay option to 'max'- to see all columns in dataset
pd.set_option('display.max.columns', None)
df_irl1.head()

,STATISTIC,Statistic2,TLIST(M1),Month,C02438V02948,Consumer Item,UNIT,VALUE
0,CPM08,National Average Price,199701,1997M01,10010,Round steak per kg.,IEP,6.119
1,CPM08,National Average Price,199701,1997M01,10020,Sirloin steak per kg.,IEP,8.053
2,CPM08,National Average Price,199701,1997M01,10030,Rib steak per kg.,IEP,4.023
3,CPM08,National Average Price,199701,1997M01,10040,Leg beef (boneless) per kg.,IEP,4.269
4,CPM08,National Average Price,199701,1997M01,10050,Brisket pot roast per kg.,IEP,4.097

In [7]:
df_irl1 = df_irl1.pivot_table('VALUE', ['TLIST(M1)'], 'Consumer Item')
df_irl1= df_irl1.rename_axis(None,axis=1)
df_irl1= df_irl1.reset_index()

In [8]:
df_irl1=df_irl1.drop(df_irl1.iloc[:, 1:10], axis=1).drop(df_irl1.iloc[:, 11:39], axis=1).drop(df_irl1.iloc[:, 40:52], axis=1).drop(df_irl1.iloc[:, 54:56], axis=1).drop(df_irl1.iloc[:, 57:], axis=1)
df_irl1 = df_irl1.rename(columns={'TLIST(M1)': 'Date','Round steak per kg.':'Round Steak','Sirloin steak per kg.':'Stirloin Steak','Rib steak per kg.':'Ryb Steak','Leg beef (boneless) per kg.':'Beef Leg','Brisket pot roast per kg.':'Brisket'})
print(df_irl1.info())
df_irl1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            59 non-null     int64
 1   Brisket         59 non-null     float64
 2   Beef Leg        59 non-null     float64
 3   Ryb Steak       59 non-null     float64
 4   Round Steak     59 non-null     float64
 5   Stirloin Steak  59 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 2.9 KB
None

     Date  Brisket  Beef Leg  Ryb Steak  Round Steak  Stirloin Steak
0  199701    4.097     4.269      4.023        6.119           8.053
1  199702    4.041     4.252      4.077        6.175           8.276
2  199703    4.067     4.219      4.092        6.059           8.124
3  199704    4.053     4.283      4.047        6.161           8.503
4  199705    4.055     4.268      3.946        6.138           8.397

In [28]:
df_irl2= pd.read_csv(r'Average price 2001-2011.csv')
#seting columns dispay option to 'max'- to see all columns in dataset
pd.set_option('display.max.columns', None)
#df_irl2

In [29]:
df_irl2 = df_irl2.pivot_table('VALUE', ['TLIST(M1)'], 'Consumer Item')
df_irl2= df_irl2.rename_axis(None,axis=1)
df_irl2= df_irl2.reset_index()
df_irl2.head()

,TLIST(M1),1 litre full fat milk per ltr.,"1 litre, low fat milk per ltr.",2 litre full fat milk per 2 ltr.,Ale - draught bar (1 pint),Bananas per kg.,Best back rashers per kg.,Brandy - bar (single) per 1/2 glass,Brandy - take home (70cl bottle),"Bread brown sliced, large (800g)","Bread white sliced, large (800g)",Broccoli per kg.,"Brown, wholemeal flour per 2 kgs.",Butter per lb.,Carrots per kg.,Cider - bar (330ml bottle),Cider - draught bar (1 pint),Cider - take home ( 500ml can),Cinema fee,Cod fillets per kg.,Collar bacon per kg.,Cooked ham per kg.,Cream liquer - take home (70cl bottle),Diesel per ltr.,Fillet of plaice per kg.,Fillet of whiting per kg.,Fillet/half leg pork per kg.,Filtered cigarettes per 20 pk.,Fine quality wine - take home (75cl bottle),Flavoured alcoholic drink - bar (275ml bottle),Flavoured alcoholic drinks - take home 275ml bottle,Gent's haircut - dry cut fee,"Gent's haircut - wash, cut and blow dry fee",Grapes per kg.,Ham fillet per kg.,Irish cheddar per kg.,Jam per lb.,"Ladies shampoo, cut and blow dry fee",Lager - bottled bar (330ml bottle),Lager - draught lounge (1 pint),Lager - draught lounge (1/2 pint),Lager - take home (500ml can),Lager - take home (tray 12 by 330ml),Lamb gigot chops per kg.,Lamb loin chops per kg.,Lamb pieces incl neck per kg.,Lamb whole leg per kg.,Lambs liver per kg.,Large (size 2) eggs per dozen,Large (size 2) eggs per half dozen,Marmalade per lb.,Medium (size 3) eggs per dozen,Medium (size 3) eggs per half dozen,Mushrooms per kg.,Nightclubs fee,Onions per kg.,Orange juice per ltr.,Petrol - unleaded per ltr.,Pork loin chops per kg.,Pork sausages per kg.,Pork steak per kg.,Potatoes 10 kg.,Potatoes 2.5 kg.,Roast beef topside/rib per kg.,Roast loin of pork per kg.,Round steak per kg.,Salmon steak per kg.,Sherry - take home (75cl bottle),Sirloin steak per kg.,Sliced/diced beef pieces per kg.,Smoked salmon per kg.,Spaghetti per 500g.,Stout - draught bar (1 pint),Stout - take home (6 x 250ml),Striploin steak per kg.,Table wine - take home (75cl bottle),Tea bags per 80,Tomatoes per kg.,Tomatoes tinned per 400g,Uncooked chicken medium sized 1600g,Vodka - bar (single) per 1/2 glass,Vodka - take home (70cl bottle),Whiskey - bar (single) per 1/2 glass,Whiskey - take home (70cl bottle),White granulated sugar per kg.,"White, plain flour per 2 kgs.","White, self-raising flour per 2 kgs.",Wine - bar (187 ml bottle)
0,200112,0.841,0.846,NaN,3.099,1.685,9.916,3.225,24.350,1.092,0.995,2.949,1.314,1.977,1.264,3.519,NaN,1.724,6.335,13.143,6.043,13.622,15.718,0.758,15.093,7.849,6.720,4.981,14.592,NaN,NaN,8.233,NaN,5.278,8.769,8.790,1.518,23.513,3.407,3.373,1.989,1.921,NaN,10.613,17.227,5.066,10.268,5.135,2.449,NaN,1.480,2.073,NaN,3.782,8.019,1.283,1.583,0.816,8.920,4.499,11.270,5.421,3.066,8.726,9.211,8.414,11.645,10.906,12.095,7.041,18.535,0.933,3.062,6.362,16.448,9.123,2.458,2.482,NaN,NaN,2.717,16.216,2.687,18.285,1.125,1.255,1.260,NaN
1,200201,0.842,0.847,NaN,3.126,1.691,9.783,3.241,24.307,1.100,1.002,3.147,1.311,1.969,1.244,3.582,NaN,1.770,6.366,13.422,5.920,13.195,15.300,0.753,15.321,8.257,6.736,5.004,14.279,NaN,NaN,8.750,NaN,5.067,8.499,8.553,1.510,24.200,3.450,3.412,1.994,1.896,NaN,10.617,17.317,5.954,10.068,5.200,2.359,NaN,1.465,2.069,NaN,3.948,8.310,1.249,1.519,0.813,8.978,4.460,11.632,5.869,3.081,8.648,9.217,8.696,12.980,10.922,12.354,7.156,20.057,0.923,3.088,6.333,16.762,9.019,2.441,2.534,NaN,NaN,2.758,16.222,2.721,18.260,1.119,1.249,1.254,NaN
2,200202,0.845,0.850,NaN,3.143,1.670,9.800,3.226,24.348,1.122,1.015,3.480,1.307,1.968,1.230,3.604,NaN,1.858,6.447,13.820,5.947,13.237,15.272,0.753,15.529,8.273,6.678,5.008,14.515,NaN,NaN,8.960,NaN,4.318,8.467,8.609,1.518,24.431,3.469,3.425,2.012,1.856,NaN,10.667,17.389,6.331,10.207,5.216,2.352,NaN,1.400,2.076,NaN,3.934,8.400,1.297,1.495,0.815,8.897,4.463,11.413,5.903,3.046,8.666,9.192,8.643,11.970,10.895,12.404,7.095,20.391,0.924,3.090,6.261,16.826,9.017,2.444,2.674,NaN,NaN,2.746,16.187,2.704,18.295,1.122,1.244,1.261,NaN
3,200203,0.844,0.848,NaN,3.220,1.496,9.778,3.317,24.360,1.111,1.005,3.451,1.305,1.958,1.245,3.706,NaN,1.943,6.462,13.675,5.869,13.105,15.473,0.757,14.724,7.920,6.729,5.151,14.257,NaN,NaN,9.276,NaN,4.260,8.684,8.792,1.516,24.701,3.549,3.506,2.077,1.869,NaN,10.666,17.382,6.581,10.332,5.259,2.397,NaN,1.453,2.088,NaN,3.954,8.458,1.295,1.493,0.821,8.654,4.498,11.740,5.817,3.033,8.495,8.627,8.791,11.761,10.976,12.524,7.244,19.289,0.931,3.170,6.311,16.998,8.920,2.423,3.495,NaN,NaN,2.829,16.268,2.782,18.319,1.106,1.244,1.257,NaN
4,200204,0.846,0.850,NaN,3.264,1.669,10.027,3.355,24.538,1.154,1.036,3.231,1.302,1.944,1.334,3.777,NaN,2.001,6.466,12.755,5.850,13.576,15.512,0.786,15.109,7.993,6.892,5.165,14.348,NaN,NaN,9.304,NaN,4.221,8.698,8.865,1.520,24.912,3.597,3.557,2.090,1.885,NaN,10.752,17.629,6.694,10.422,5.331,2.413,NaN,1.496,2.104,NaN,3.717,8.578,1.294,1.527,0.865,9.001,4.473,11.765,5.993,3.040,8.604,8.978,8.599,12.624,11.038,12.558,7.230,18.800,0.925,3.216,6.425,16.943,9.074,2.370,3.509,NaN,NaN,2.869,16.522,2.825,18.655,1.107,1.245,1.264,NaN

In [30]:
df_irl2=df_irl2.drop(df_irl2.iloc[:, 1:63], axis=1).drop(df_irl2.iloc[:, 64:65], axis=1).drop(df_irl2.iloc[:, 66:68], axis=1).drop(df_irl2.iloc[:, 70:74], axis=1).drop(df_irl2.iloc[:, 75:], axis=1)
#df_irl2 = df_irl2.rename(columns={'TLIST(M1)': 'Date','Round steak per kg.':'Round Steak','Sirloin steak per kg.':'Stirloin Steak','Rib steak per kg.':'Ryb Steak','Leg beef (boneless) per kg.':'Beef Leg','Brisket pot roast per kg.':'Brisket'})
print(df_irl2.info())
df_irl2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   TLIST(M1)                         121 non-null    int64
 1   Roast beef topside/rib per kg.    121 non-null    float64
 2   Round steak per kg.               120 non-null    float64
 3   Sirloin steak per kg.             121 non-null    float64
 4   Sliced/diced beef pieces per kg.  121 non-null    float64
 5   Striploin steak per kg.           121 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 5.8 KB
None

,TLIST(M1),Roast beef topside/rib per kg.,Round steak per kg.,Sirloin steak per kg.,Sliced/diced beef pieces per kg.,Striploin steak per kg.
0,200112,8.726,8.414,12.095,7.041,16.448
1,200201,8.648,8.696,12.354,7.156,16.762
2,200202,8.666,8.643,12.404,7.095,16.826
3,200203,8.495,8.791,12.524,7.244,16.998
4,200204,8.604,8.599,12.558,7.230,16.943

In [34]:
df_irl3= pd.read_csv(r'Average price 2011-2022.csv')
#seting columns dispay option to 'max'- to see all columns in dataset
pd.set_option('display.max.columns', None)
#df_irl3.head(50)

In [35]:
df_irl3 = df_irl3.pivot_table('VALUE', ['TLIST(M1)'], 'Consumer Item')
df_irl3= df_irl3.rename_axis(None,axis=1)
df_irl3= df_irl3.reset_index()
df_irl3.head()

,TLIST(M1),Ale - draught bar (1 pint),Bananas per kg,Best back rashers per kg,Brandy - bar (single) per ½ glass,Brandy - take home (70cl bottle),"Bread, brown sliced pan, large (800g)","Bread, white sliced pan, large (800g)",Broccoli per kg,"Brown, wholemeal flour per 2 kg",Butter per lb,Carrots per kg,Cider - bar (33cl bottle),Cider - draught bar (1 pint),Cider - take home (50cl can),Cinema fee,Cooked ham per kg,Cream liqueur - take home (70cl bottle),Diesel per litre,Filtered cigarettes per 20 pk,Flavoured alcoholic drink - bar (275ml bottle),Fresh fillet of cod per kg,Fresh fillet of plaice per kg,Fresh fillet of whiting per kg,Fresh hake per kg,Fresh salmon per kg,Full fat milk per 2 litre,Gent's dry cut fee,"Gent's wash, cut, and blow dry fee",Grapes per kg,Ham fillet per kg,Irish cheddar per kg,Jam per lb,"Ladies' wash, cut and blow dry fee",Lager - bar (33cl bottle),Lager - draught bar (1 pint),Lager - take home (50cl can),Lamb - whole leg / half leg per kg,Lamb gigot chops per kg,Lamb loin chops per kg,Lamb's liver per kg,Large eggs per half dozen,Low fat milk per 1 litre,Marmalade per lb,Medium eggs per half dozen,Mushrooms per kg,Nightclubs fee,Onions per kg,Orange juice per litre,Petrol - unleaded per litre,Pork loin chops per kg,Pork sausages per kg,Pork steak per kg,Potatoes 10 kg,Potatoes 2.5 kg,Potatoes 7.5 kg,Roast beef - topside or rib per kg,Sherry - take home (75cl bottle),Sirloin steak per kg,Sliced / diced beef pieces per kg,Smoked salmon per kg,Spaghetti per 500g,Stout - draught bar (1 pint),Stout - take home (50cl can),Striploin steak per kg,Tea bags per 80,Tomatoes per kg,Tomatoes tinned per 400g,Uncooked chicken medium size 1.6kg,Vodka - bar (single) per ½ glass,Vodka - take home (70cl bottle),Whiskey - bar (single) per ½ glass,Whiskey - take home (70cl bottle),White granulated sugar per 1 kg,"White, self raising flour per 2 kg",Wine - bar (187ml bottle),Wine - take home (75cl bottle)
0,201201,4.005,1.330,10.349,4.271,25.681,1.539,1.276,2.714,2.495,2.769,1.183,4.472,4.471,2.125,8.795,16.341,15.331,1.529,9.014,5.167,16.591,17.932,10.671,NaN,14.077,1.778,11.643,18.585,6.154,6.231,10.701,1.765,38.670,4.351,4.276,1.778,12.527,13.138,18.601,5.626,1.813,1.055,1.874,1.559,4.282,9.715,1.215,1.346,1.542,8.399,5.431,9.340,5.064,3.060,NaN,11.259,11.302,15.093,9.706,24.552,1.202,3.963,2.036,20.922,2.788,2.768,0.844,5.361,3.764,17.791,3.703,21.957,1.299,2.130,4.844,8.953
1,201202,4.035,1.359,10.775,4.298,25.539,1.541,1.275,3.012,2.466,2.771,1.193,4.484,4.481,2.114,8.885,15.955,14.262,1.554,9.024,5.166,13.921,16.059,10.480,NaN,13.125,1.775,11.717,17.855,6.338,6.041,11.368,1.908,36.513,4.363,4.322,1.800,11.197,12.922,18.169,5.524,1.814,1.050,1.869,1.568,4.289,9.778,1.206,1.401,1.578,8.419,5.461,9.079,5.272,3.110,NaN,11.389,10.851,15.112,9.969,24.472,1.186,3.985,2.061,20.077,2.854,2.874,0.845,5.510,3.785,16.562,3.728,21.728,1.337,2.146,4.878,8.725
2,201203,4.028,1.371,10.613,4.302,24.189,1.529,1.281,3.049,2.485,2.769,1.176,4.492,4.486,2.100,8.963,15.698,13.340,1.582,9.027,5.155,15.395,18.102,10.848,NaN,15.010,1.774,11.945,17.792,6.145,6.101,11.026,1.953,36.009,4.371,4.323,1.779,11.859,13.000,18.146,5.671,1.776,1.052,1.838,1.485,4.284,9.892,1.147,1.518,1.629,8.448,5.383,9.038,4.862,3.013,NaN,11.615,10.742,14.936,9.897,25.922,1.196,3.984,2.065,21.495,2.949,2.881,0.839,5.702,3.786,17.270,3.728,21.189,1.341,2.140,4.903,9.104
3,201204,4.026,1.362,10.968,4.300,24.713,1.529,1.291,3.079,2.504,2.768,1.128,4.493,4.479,2.110,8.979,16.248,14.236,1.600,9.026,5.153,14.951,18.436,10.844,NaN,14.575,1.771,11.945,17.702,5.934,6.063,11.146,1.950,36.121,4.368,4.325,1.781,12.558,13.218,19.526,5.669,1.853,1.053,1.843,1.648,4.428,9.767,1.172,1.458,1.686,8.526,5.577,9.382,5.088,2.953,NaN,11.865,11.316,15.338,10.004,25.997,1.170,3.982,2.062,22.242,2.908,2.914,0.846,5.772,3.785,16.976,3.732,21.315,1.343,2.132,4.880,8.764
4,201205,4.028,1.375,10.772,4.308,25.726,1.511,1.306,2.854,2.485,2.778,1.160,4.501,4.483,2.107,8.959,16.610,14.443,1.579,9.026,5.162,16.406,17.686,10.927,NaN,14.355,1.773,11.889,17.495,5.793,5.884,11.369,1.953,36.015,4.381,4.328,1.763,12.114,13.161,19.723,5.711,1.885,1.052,1.869,1.664,4.445,9.511,1.205,1.462,1.665,8.581,5.453,9.342,4.938,3.044,NaN,11.671,10.781,15.257,10.102,26.737,1.175,3.985,2.053,22.212,2.881,2.878,0.857,5.620,3.790,17.698,3.737,21.914,1.342,2.132,4.899,9.135

In [36]:
df_irl3=df_irl3.drop(df_irl3.iloc[:, 1:63], axis=1).drop(df_irl3.iloc[:, 64:65], axis=1).drop(df_irl3.iloc[:, 66:68], axis=1).drop(df_irl3.iloc[:, 70:74], axis=1).drop(df_irl3.iloc[:, 75:], axis=1)
#df_irl2 = df_irl2.rename(columns={'TLIST(M1)': 'Date','Round steak per kg.':'Round Steak','Sirloin steak per kg.':'Stirloin Steak','Rib steak per kg.':'Ryb Steak','Leg beef (boneless) per kg.':'Beef Leg','Brisket pot roast per kg.':'Brisket'})
print(df_irl3.info())
df_irl3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   TLIST(M1)                           122 non-null    int64
 1   Stout - take home (50cl can)        122 non-null    float64
 2   Tea bags per 80                     122 non-null    float64
 3   Uncooked chicken medium size 1.6kg  122 non-null    float64
 4   Vodka - bar (single) per ½  glass   113 non-null    float64
 5   White, self raising flour per 2 kg  122 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 5.8 KB
None

,TLIST(M1),Stout - take home (50cl can),Tea bags per 80,Uncooked chicken medium size 1.6kg,Vodka - bar (single) per ½ glass,"White, self raising flour per 2 kg"
0,201201,2.036,2.788,5.361,3.764,2.130
1,201202,2.061,2.854,5.510,3.785,2.146
2,201203,2.065,2.949,5.702,3.786,2.140
3,201204,2.062,2.908,5.772,3.785,2.132
4,201205,2.053,2.881,5.620,3.790,2.132