In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

query = 'organic food ireland' #near:"Dublin"'
tweets = []
limit = 20


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append(tweet)
        
df_tweets = pd.DataFrame(tweets)

# df_tweets.to_csv('tweets_allcolumns.csv')

In [2]:
#adding column location
df_tweets['user_location'] =  df_tweets['user'].apply(lambda x: x['location'])

In [3]:
#Step 1 Drop Columns-easier to cre
df_tweets= df_tweets.filter(['date','content','user_location'], axis=1)
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           20 non-null     datetime64[ns, UTC]
 1   content        20 non-null     object
 2   user_location  20 non-null     object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 608.0+ bytes

In [5]:
#Cleaning Data - change words in content column to lower
df_tweets['content'] = df_tweets['content'].apply(lambda x:x.lower())
df_tweets['content']

0     @mjc0ughl4n the quality of food/availability o...
1     @codohertynews more and more land being given ...
2     i hope you’ve enjoyed this series, that it has...
3     consider the seed\nhttps://t.co/skc2vwekuo\nas...
4     organic fitness with fitness trainer and organ...
5     delicious #vegetable art - almost too beautifu...
6     ireland’s #tradesurplus widened to €7.1bn in f...
7     we have 4 aims at drumanilra aka the 4 “r”s. t...
8     @davquinn idea is organic food is for wealthy ...
9     @ciaramcdonnell3 irelands 1st drive through sl...
10    today is world health day and research has sho...
11    we have a reputation in ireland for our high q...
12    @irish_organic @irelandsaysno @actingthegom if...
13    @haroldkingston1 @lorcanallen @redcresearch @k...
14    note to green party \nsri lanka adopted organi...
15    @rachael_uriarte @astoldbyta @tlcplmax after l...
16    @lorcanallen @redcresearch @kpmg_ireland not a...
17    **reminder**\n\nthe next rds climate-smart agr...
18    this webinar organised by the rds may be of in...
19    old green ireland has lowest % of agricultural...
Name: content, dtype: object

In [6]:
import nt
from nltk import sent_tokenize, word_tokenize
nltk.download('punkt')

NameError: name 'nltk' is not defined