## Data Cleaning

In [1]:
#import  os libraries. Also importing warnings to disbale Python warning messages
import os
import warnings
warnings.filterwarnings('ignore')
files_list =os.listdir('.')
files_list

['.git',
 '.gitattributes',
 '.ipynb_checkpoints',
 'Average price 1970 -2001.csv',
 'Average price 2001-2011.csv',
 'Average price 2011-2022.csv',
 'beef export 1930 -2020.csv',
 'BeefVeal_MonthlyFull us 2001-2022.xlsx',
 'CA2.ipynb',
 'Continues_Assignment_2_Zdenko_Zahorec_sbs22090_MSc in Data Analytics (SB+) - Feb 2022 - 2022 - YR1.docx',
 'Download links.txt',
 'export by month ctle irl 1970-2022.csv',
 'tweets_organic_food ireland.csv',
 'Unlimited tweets.ipynb',
 'US Beef Price.xls',
 'US Beef Price.xlsx',
 '_Twitter API.ipynb']

In [2]:
#import pandas to load the data into the dataframe
import pandas as pd

In [3]:
df_irl1= pd.read_csv(r'Average price 1970 -2001.csv')
#seting columns dispay option to 'max'- to see all columns in dataset
pd.set_option('display.max.columns', None)
df_irl1

,STATISTIC,Statistic2,TLIST(M1),Month,C02438V02948,Consumer Item,UNIT,VALUE
0,CPM08,National Average Price,199701,1997M01,10010,Round steak per kg.,IEP,6.119
1,CPM08,National Average Price,199701,1997M01,10020,Sirloin steak per kg.,IEP,8.053
2,CPM08,National Average Price,199701,1997M01,10030,Rib steak per kg.,IEP,4.023
3,CPM08,National Average Price,199701,1997M01,10040,Leg beef (boneless) per kg.,IEP,4.269
4,CPM08,National Average Price,199701,1997M01,10050,Brisket pot roast per kg.,IEP,4.097
...,...,...,...,...,...,...,...,...
3948,CPM08,National Average Price,200111,2001M11,11820,"Filtered cigarettes, standard size per 20 pk.",IEP,3.847
3949,CPM08,National Average Price,200111,2001M11,30430,Leaded petrol per ltr.,IEP,NaN
3950,CPM08,National Average Price,200111,2001M11,30440,Petrol - unleaded per ltr.,IEP,0.619
3951,CPM08,National Average Price,200111,2001M11,30450,Liquid petroleum gas per ltr.,IEP,0.512
3952,CPM08,National Average Price,200111,2001M11,30460,Diesel per ltr.,IEP,0.578

In [4]:
#index column and select only beef related products from the list
df_irl1 = df_irl1.set_index(['Consumer Item'])
df_irl1 =df_irl1.loc[df_irl1.index.isin(['Round steak per kg.','Sirloin steak per kg.','Rib steak per kg.','Leg beef (boneless) per kg.','Brisket pot roast per kg.'])]
df_irl1.shape

(295, 7)

In [5]:
df_irl2= pd.read_csv(r'Average price 2001-2011.csv')
#seting columns dispay option to 'max'- to see all columns in dataset
pd.set_option('display.max.columns', None)
df_irl2

,STATISTIC,Statistic,TLIST(M1),Month,C02363V02844,Consumer Item,UNIT,VALUE
0,CPM04,National Average Price,200112,2001M12,10010,Round steak per kg.,Euro,8.414
1,CPM04,National Average Price,200112,2001M12,10020,Sirloin steak per kg.,Euro,12.095
2,CPM04,National Average Price,200112,2001M12,10030,Striploin steak per kg.,Euro,16.448
3,CPM04,National Average Price,200112,2001M12,10040,Roast beef topside/rib per kg.,Euro,8.726
4,CPM04,National Average Price,200112,2001M12,10050,Sliced/diced beef pieces per kg.,Euro,7.041
...,...,...,...,...,...,...,...,...
10522,CPM04,National Average Price,201112,2011M12,80001,"1 litre, low fat milk per ltr.",Euro,1.044
10523,CPM04,National Average Price,201112,2011M12,80002,Large (size 2) eggs per dozen,Euro,NaN
10524,CPM04,National Average Price,201112,2011M12,80003,Medium (size 3) eggs per dozen,Euro,NaN
10525,CPM04,National Average Price,201112,2011M12,80004,"White, plain flour per 2 kgs.",Euro,NaN
10526,CPM04,National Average Price,201112,2011M12,80005,Fine quality wine - take home (75cl bottle),Euro,NaN

In [6]:
#index column and select only beef related products from the list
df_irl2 = df_irl2.set_index(['Consumer Item'])
df_irl2 =df_irl2.iloc[df_irl2.index.isin(['Round steak per kg.','Sirloin steak per kg.','Rib steak per kg.','Leg beef (boneless) per kg.','Brisket pot roast per kg.'])]
df_irl2.shape

(242, 7)

In [7]:
df_irl3= pd.read_csv(r'Average price 2011-2022.csv')
#seting columns dispay option to 'max'- to see all columns in dataset
pd.set_option('display.max.columns', None)
df_irl3.head(50)

,STATISTIC,Statistic,TLIST(M1),Month,C02363V03422,Consumer Item,UNIT,VALUE
0,CPM12,National Average Price,201112,2011M12,10020,"White, self raising flour per 2 kg",Euro,NaN
1,CPM12,National Average Price,201112,2011M12,10030,"Brown, wholemeal flour per 2 kg",Euro,NaN
2,CPM12,National Average Price,201112,2011M12,10040,"Bread, white sliced pan, large (800g)",Euro,NaN
3,CPM12,National Average Price,201112,2011M12,10050,"Bread, brown sliced pan, large (800g)",Euro,NaN
4,CPM12,National Average Price,201112,2011M12,10190,Spaghetti per 500g,Euro,NaN
5,CPM12,National Average Price,201112,2011M12,10280,Sirloin steak per kg,Euro,NaN
6,CPM12,National Average Price,201112,2011M12,10290,Striploin steak per kg,Euro,NaN
7,CPM12,National Average Price,201112,2011M12,10300,Roast beef - topside or rib per kg,Euro,NaN
8,CPM12,National Average Price,201112,2011M12,10310,Sliced / diced beef pieces per kg,Euro,NaN
9,CPM12,National Average Price,201112,2011M12,10320,Pork loin chops per kg,Euro,NaN
10,CPM12,National Average Price,201112,2011M12,10330,Pork steak per kg,Euro,NaN
11,CPM12,National Average Price,201112,2011M12,10340,Lamb - whole leg / half leg per kg,Euro,NaN
12,CPM12,National Average Price,201112,2011M12,10350,Lamb loin chops per kg,Euro,NaN
13,CPM12,National Average Price,201112,2011M12,10360,Lamb gigot chops per kg,Euro,NaN
14,CPM12,National Average Price,201112,2011M12,10370,Uncooked chicken medium size 1.6kg,Euro,NaN
15,CPM12,National Average Price,201112,2011M12,10400,Lamb's liver per kg,Euro,NaN
16,CPM12,National Average Price,201112,2011M12,10410,Ham fillet per kg,Euro,NaN
17,CPM12,National Average Price,201112,2011M12,10420,Cooked ham per kg,Euro,NaN
18,CPM12,National Average Price,201112,2011M12,10440,Best back rashers per kg,Euro,NaN
19,CPM12,National Average Price,201112,2011M12,10450,Pork sausages per kg,Euro,NaN
20,CPM12,National Average Price,201112,2011M12,10520,Fresh fillet of whiting per kg,Euro,NaN
21,CPM12,National Average Price,201112,2011M12,10530,Fresh fillet of cod per kg,Euro,NaN
22,CPM12,National Average Price,201112,2011M12,10540,Fresh salmon per kg,Euro,NaN
23,CPM12,National Average Price,201112,2011M12,10550,Fresh fillet of plaice per kg,Euro,NaN
24,CPM12,National Average Price,201112,2011M12,10570,Fresh hake per kg,Euro,NaN
25,CPM12,National Average Price,201112,2011M12,10590,Smoked salmon per kg,Euro,NaN
26,CPM12,National Average Price,201112,2011M12,10630,Full fat milk per 2 litre,Euro,NaN
27,CPM12,National Average Price,201112,2011M12,10640,Low fat milk per 1 litre,Euro,NaN
28,CPM12,National Average Price,201112,2011M12,10680,Irish cheddar per kg,Euro,NaN
29,CPM12,National Average Price,201112,2011M12,10730,Large eggs per half dozen,Euro,NaN
30,CPM12,National Average Price,201112,2011M12,10740,Medium eggs per half dozen,Euro,NaN
31,CPM12,National Average Price,201112,2011M12,10750,Butter per lb,Euro,NaN
32,CPM12,National Average Price,201112,2011M12,10840,Grapes per kg,Euro,NaN
33,CPM12,National Average Price,201112,2011M12,10850,Bananas per kg,Euro,NaN
34,CPM12,National Average Price,201112,2011M12,10910,Tomatoes per kg,Euro,NaN
35,CPM12,National Average Price,201112,2011M12,10920,Onions per kg,Euro,NaN
36,CPM12,National Average Price,201112,2011M12,10940,Broccoli per kg,Euro,NaN
37,CPM12,National Average Price,201112,2011M12,10950,Carrots per kg,Euro,NaN
38,CPM12,National Average Price,201112,2011M12,10960,Mushrooms per kg,Euro,NaN
39,CPM12,National Average Price,201112,2011M12,11040,Tomatoes tinned per 400g,Euro,NaN
40,CPM12,National Average Price,201112,2011M12,11090,Potatoes 2.5 kg,Euro,NaN
41,CPM12,National Average Price,201112,2011M12,11095,Potatoes 7.5 kg,Euro,NaN
42,CPM12,National Average Price,201112,2011M12,11100,Potatoes 10 kg,Euro,NaN
43,CPM12,National Average Price,201112,2011M12,11150,White granulated sugar per 1 kg,Euro,NaN
44,CPM12,National Average Price,201112,2011M12,11160,Jam per lb,Euro,NaN
45,CPM12,National Average Price,201112,2011M12,11180,Marmalade per lb,Euro,NaN
46,CPM12,National Average Price,201112,2011M12,11570,Tea bags per 80,Euro,NaN
47,CPM12,National Average Price,201112,2011M12,11640,Orange juice per litre,Euro,NaN
48,CPM12,National Average Price,201112,2011M12,11680,Whiskey - take home (70cl bottle),Euro,NaN
49,CPM12,National Average Price,201112,2011M12,11690,Brandy - take home (70cl bottle),Euro,NaN

In [8]:
#index column and select only beef related products from the list
df_irl3 = df_irl3.set_index(['Consumer Item'])
df_irl3 =df_irl3.loc[df_irl3.index.isin(['Sirloin steak per kg','Striploin steak per kg','Roast beef - topside or rib per kg','Sliced / diced beef pieces per kg','Brisket pot roast per kg.'])]
df_irl3.shape

(492, 7)