In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

query = 'organic food ireland' #near:"Dublin"'
tweets = []
limit = 20


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append(tweet)
        
df_tweets = pd.DataFrame(tweets)

# df_tweets.to_csv('tweets_allcolumns.csv')

In [2]:
#adding column location
df_tweets['user_location'] =  df_tweets['user'].apply(lambda x: x['location'])

In [5]:
#Step1 Cleaning Data - change words in content column to lower
df_tweets['content'] = df_tweets['content'].apply(lambda x:x.lower())
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   url               20 non-null     object
 1   date              20 non-null     datetime64[ns, UTC]
 2   content           20 non-null     object
 3   renderedContent   20 non-null     object
 4   id                20 non-null     int64
 5   user              20 non-null     object
 6   replyCount        20 non-null     int64
 7   retweetCount      20 non-null     int64
 8   likeCount         20 non-null     int64
 9   quoteCount        20 non-null     int64
 10  conversationId    20 non-null     int64
 11  lang              20 non-null     object
 12  source            20 non-null     object
 13  sourceUrl         20 non-null     object
 14  sourceLabel       20 non-null     object
 15  outlinks          6 non-null      object
 16  tcooutlinks       6 non-null      object
 17  media             4 non-null      object
 18  retweetedTweet    0 non-null      object
 19  quotedTweet       2 non-null      object
 20  inReplyToTweetId  10 non-null     float64
 21  inReplyToUser     10 non-null     object
 22  mentionedUsers    10 non-null     object
 23  coordinates       2 non-null      object
 24  place             2 non-null      object
 25  hashtags          7 non-null      object
 26  cashtags          0 non-null      object
 27  user_location     20 non-null     object
dtypes: datetime64[ns, UTC](1), float64(1), int64(6), object(20)
memory usage: 4.5+ KB

In [6]:
#Step 1 Drop Columns-easier to cre
df_tweets= df_tweets.filter(['date','content','user_location'], axis=1)
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           20 non-null     datetime64[ns, UTC]
 1   content        20 non-null     object
 2   user_location  20 non-null     object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 608.0+ bytes

In [9]:
#Step1 Cleaning Data - change words in content column to lower
df_tweets['content'] = df_tweets['content'].apply(lambda x:x.lower())

In [109]:
df_allcolumns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   url               100 non-null    object
 1   date              100 non-null    datetime64[ns, UTC]
 2   content           100 non-null    object
 3   renderedContent   100 non-null    object
 4   id                100 non-null    int64
 5   user              100 non-null    object
 6   replyCount        100 non-null    int64
 7   retweetCount      100 non-null    int64
 8   likeCount         100 non-null    int64
 9   quoteCount        100 non-null    int64
 10  conversationId    100 non-null    int64
 11  lang              100 non-null    object
 12  source            100 non-null    object
 13  sourceUrl         100 non-null    object
 14  sourceLabel       100 non-null    object
 15  outlinks          43 non-null     object
 16  tcooutlinks       43 non-null     object
 17  media             41 non-null     object
 18  retweetedTweet    0 non-null      object
 19  quotedTweet       16 non-null     object
 20  inReplyToTweetId  32 non-null     float64
 21  inReplyToUser     32 non-null     object
 22  mentionedUsers    74 non-null     object
 23  coordinates       45 non-null     object
 24  place             45 non-null     object
 25  hashtags          37 non-null     object
 26  cashtags          0 non-null      object
 27  user_location     100 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), int64(6), object(20)
memory usage: 22.0+ KB