In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

query = 'organic food ireland' #near:"Dublin"'
tweets = []
limit = 5000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append(tweet)
        
df_tweets = pd.DataFrame(tweets)

# df_tweets.to_csv('tweets_allcolumns.csv')

In [3]:
#Cleaning Data-adding column location
df_tweets['user_location'] =  df_tweets['user'].apply(lambda x: x['location'])

In [4]:
#Cleaning Data-flter and keep only columns that we will use in the dataset
df_tweets= df_tweets.filter(['content','user_location'], axis=1)
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1748 entries, 0 to 1747
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   content        1748 non-null   object
 1   user_location  1748 non-null   object
dtypes: object(2)
memory usage: 27.4+ KB

In [5]:
#Cleaning Data-change words in the 'content' column to lower case
df_tweets['content'] = df_tweets['content'].apply(lambda x:x.lower())
df_tweets['content']

0       @mjc0ughl4n the quality of food/availability o...
1       @codohertynews more and more land being given ...
2       i hope you’ve enjoyed this series, that it has...
3       consider the seed\nhttps://t.co/skc2vwekuo\nas...
4       organic fitness with fitness trainer and organ...
                              ...
1743    very cool: organic supermarket in ireland comb...
1744    rt @organic_ireland today's wise advice "eat f...
1745    rt @neilers if you like organic food then chec...
1746    +101 new entry: organic food ireland | pasta, ...
1747    organic guide: a publication of interest to ev...
Name: content, Length: 1748, dtype: object

In [6]:
#Cleaning Data-get word count in every 'content' column 
df_tweets['word_count'] = df_tweets['content'].apply(lambda x: len(str(x).split(" ")))
df_tweets.head()

,content,user_location,word_count
0,@mjc0ughl4n the quality of food/availability o...,"Dublin City, Ireland",46
1,@codohertynews more and more land being given ...,Ireland,34
2,"i hope you’ve enjoyed this series, that it has...","West Cork, Ireland",49
3,consider the seed\nhttps://t.co/skc2vwekuo\nas...,"West Cork, Ireland",44
4,organic fitness with fitness trainer and organ...,Ireland and the UK,19

In [7]:
#import natural processing toolkit
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Z\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
#Cleaning Data-remove english stopwords
df_tweets['content'] = df_tweets['content'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df_tweets['content'].head()

0    @mjc0ughl4n quality food/availability organic,...
1    @codohertynews land given energy production. l...
2    hope you’ve enjoyed series, provoked food thou...
3    consider seed https://t.co/skc2vwekuo growing ...
4    organic fitness fitness trainer organic grower...
Name: content, dtype: object

In [9]:
#Cleaning Data-remove special characters
df_tweets['content'] = df_tweets['content'].str.replace('[^\w\s]','')
df_tweets['content'].head()

0    mjc0ughl4n quality foodavailability organic hi...
1    codohertynews land given energy production lar...
2    hope youve enjoyed series provoked food though...
3    consider seed httpstcoskc2vwekuo growing gold ...
4    organic fitness fitness trainer organic grower...
Name: content, dtype: object

In [10]:
from textblob import TextBlob
df_tweets['content'].apply(lambda x: TextBlob(x).sentiment)

0          (0.1743939393939394, 0.4733333333333334)
1                                        (0.0, 0.0)
2        (0.16666666666666666, 0.27499999999999997)
3       (-0.06666666666666667, 0.13333333333333333)
4                                        (0.0, 0.0)
                           ...
1743                                   (0.575, 0.7)
1744                                     (0.6, 0.7)
1745                                     (0.0, 0.0)
1746      (0.21818181818181817, 0.4772727272727273)
1747                      (0.7, 0.6000000000000001)
Name: content, Length: 1748, dtype: object

In [11]:
df_tweets['sentiment']= df_tweets['content'].apply(lambda x: TextBlob(x).sentiment[0])
df_tweets

,content,user_location,word_count,sentiment
0,mjc0ughl4n quality foodavailability organic hi...,"Dublin City, Ireland",46,0.174394
1,codohertynews land given energy production lar...,Ireland,34,0.000000
2,hope youve enjoyed series provoked food though...,"West Cork, Ireland",49,0.166667
3,consider seed httpstcoskc2vwekuo growing gold ...,"West Cork, Ireland",44,-0.066667
4,organic fitness fitness trainer organic grower...,Ireland and the UK,19,0.000000
...,...,...,...,...
1743,cool organic supermarket ireland combined orga...,"Edinburgh, Scotland",15,0.575000
1744,rt organic_ireland todays wise advice eat food...,West of Dingle/ upstate NY,20,0.600000
1745,rt neilers like organic food check gt wwworgan...,An area near you!,18,0.000000
1746,101 new entry organic food ireland pasta wine...,International,17,0.218182
1747,organic guide publication interest everyone li...,Ireland,19,0.700000

In [12]:
#import nltk
#from nltk import sent_tokenize, word_tokenize
#nltk.download('punkt')

#Cleaning Data-tokeninze data in the 'content' column
#df_tweets['content_tokenized'] = df_tweets.apply(lambda row: nltk.word_tokenize(row['content']), axis=1)       
#df_tweets['content_tokenized']